extends layout

block content
  h1 You have reached the end!
  p You did not find your mom, but your dad was pretty cool!
  img(src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQYM2BK6IS52y30WUvTNOy2VyydgFTfKMjGz8st_75kwskNzn18OQ')
  br
  a(href='/') Restart the Voyage